* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.weather-web {
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, #6ed4d4, #2893b7);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.container {
  width: 450px;
  background: rgba(255, 255, 255, 0.788);
  padding: 25px;
  border-radius: 16px;
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
  animation: fadein 0.8s ease;
}

@keyframes fadein {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.search {
  width: 100%;
  display: flex;
  background: white;
  border: 1px solid #ccc;
  border-radius: 50px;
  overflow: hidden;
}

.search input {
  flex: 1;
  padding: 12px 18px;
  border: none;
  outline: none;
  font-size: 16px;
}

.search button {
  padding: 12px 25px;
  background-color: #1d6697;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.search button:hover {
  background-color: #144b6d;
}

.weather-info {
  margin-top: 35px;
}

.city {
  font-size: 32px;
  font-weight: bold;
}

.temp {
  font-size: 55px;
  font-weight: bold;
  margin: 10px 0;
}

.desc {
  font-size: 20px;
  margin-bottom: 25px;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.details {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  /* color: #fff; */
  font-size: 17px;
}

.detail-item {
  background: #1d6697;
  color: white;
  padding: 10px 18px;
  border-radius: 10px;
  backdrop-filter: blur(8px);
  min-width: 110px;
}

.detail-item .label {
  font-weight: 600;
}

.detail-item .value {
  display: block;
  font-size: 18px;
  margin-top: 5px;
}
