/* --- ABOUT Page --- */
.about-hero {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.55)
    ),
    url("./pages/image.avif");
  background-size: cover;
  background-position: center;
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  padding: 0 20px;
}

.about-hero h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.about-hero p {
  font-size: 18px;
  max-width: 700px;
  color: #f1f1f1;
}

.about-section {
  padding: 80px 20px;
  background: #ffffff;
  display: flex;
  justify-content: center;
}

.about-container {
  width: 85%;
  max-width: 1100px;
  display: flex;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.about-image img {
  width: 450px;
  height: 350px;
  border-radius: 16px;
  object-fit: cover;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.about-content {
  flex: 1;
  min-width: 300px;
}

.about-content h2 {
  font-size: 36px;
  color: #222;
  margin-bottom: 20px;
  font-weight: 700;
  position: relative;
}

.about-content h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 60px;
  height: 3px;
  background-color: #ff8800;
}

.about-content p {
  font-size: 17px;
  color: #555;
  margin-bottom: 15px;
  line-height: 1.7;
}



.reviews-hero {
  text-align: center;
  padding: 60px 20px;
  background: gray;
  color: #fff;
  border-radius: 10px;
  margin: 20px;
}

.reviews-hero h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.reviews-hero p {
  font-size: 18px;
  opacity: 0.9;
}

.reviews-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 25px;
  padding: 40px 20px;
}

.review-card {
  width: 300px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  text-align: center;
  padding: 20px;
}


.review-card img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 100%;
  margin-bottom: 15px;
  border: 1ps solid black;
}

.review-card h3 {
  font-size: 20px;
  color: #333;
}

.review-card .rating {
  font-size: 18px;
  color: #ffa600;
  margin: 8px 0;
}

.review-card .text {
  font-size: 15px;
  color: #555;
  line-height: 1.6;
}
