.services-hero {
  text-align: center;
  padding: 60px 20px ;
  background-color: gray;
  color: #fff;
}

.services-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service-card {
  display: flex;
  justify-content: center;
  width: 60%;
  background: #fff;
  border: 1px solid gray;
  border-radius: 12px;
  margin: 16px 0;
  gap: 20px;
  padding: 25px;
  cursor: pointer;
}

.service-card img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-bottom: 15px;
  border-radius: 10px;
}

.service-card h3 {
  margin-bottom: 10px;
  color: #333;
}

.service-card p {
  font-size: 15px;
  color: #555;
  line-height: 1.6;
}

/* Login Page style */
.login-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f9f9f9;
  padding: 40px 20px;
  height: 80vh;
}

.login-container {
  width: 300px;
  background: #fff;
  padding: 40px 30px;
  border-radius: 12px;
  text-align: center;
}

.login-container h1 {
  margin-bottom: 20px;
  color: #333;
}

.login-form {
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
}

.login-form label {
  margin-bottom: 6px;
  text-align: left;
  font-size: 17px;
  font-weight: 600;
  color: #636161;
}

.login-form input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 15px;
}


.login-form button {
  background: #db7617;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #ff7b009f;
}

.signup-text {
  margin-top: 15px;
  font-size: 14px;
  color: #555;
}

.signup-text a {
  color: #ff7b00;
  text-decoration: none;
  font-weight: bold;
}

.signup-text a:hover {
  text-decoration: underline;
}
