* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.todo-container {
    overflow: scroll;
  background-color: aliceblue;
  height: 400px;
  width: 360px;
}

.todo-container h1 {
  text-align: center;
}

.todo {
  padding: 15px;
}

div input {
  padding: 4px 8px;
  width: 260px;
  font-size: 16px;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
}

.btn {
  padding: 4px 10px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px 0;
}

.list-container {
    color: white;
    margin-bottom: 10px;
}

.list{
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #575656;
    margin-top: 8px;
}
